.home-container {
  display: flex;
  flex-direction: column;
  height: 91.2vh;
}

@media screen and (max-width: 576px) {
  .home-container {
    height: 87vh;
  }
}

.home-bottom-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.home-content-light {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 576px) {
  .home-content-light::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .home-content-light::-webkit-scrollbar-track {
    display: none;
  }
  .home-content-light::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.18);
  }
}

.home-content-dark {
  background-color: #0f0f0f;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 576px) {
  .home-content-dark::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .home-content-dark::-webkit-scrollbar-track {
    display: none;
  }
  .home-content-dark::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.18);
  }
}

.buy-premium-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png ');
  background-size: cover;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.banner-active {
  display: none;
}

.buy-premium-image {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.buy-premium-para {
  font-size: 25px;
  font-weight: 600;
  margin-top: 0px;
  max-width: 400px;
  color: #383838;
}

.buy-premium-button {
  color: #383838;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #383838;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}

.buy-premium-cross-btn {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 800;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .buy-premium-image {
    width: 80px;
    margin-top: 0px;
  }
  .buy-premium-para {
    font-size: 16px;
  }

  .buy-premium-button {
    color: #383838;
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 600;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }
}

.videos-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-input-light {
  width: 500px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 1px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #606060;
  outline: none;
}

.search-input-dark {
  width: 500px;
  height: 30px;
  border: 1px solid #424242;
  border-radius: 1px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #7e858e;
  background-color: transparent;
  outline: none;
}

.search-icon-container-light {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #cccccc;
  width: 60px;
  height: 30px;
  border-left: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  color: #606060;
  padding-top: 5px;
}

.search-icon-container-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #424242;
  width: 60px;
  height: 30px;
  border-left: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: #ebebeb;
  padding-top: 5px;
}

.no-videos-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 600px;
}

.no-videos-img {
  width: 400px;
}

.no-videos-heading-light {
  font-size: 20px;
  color: #181818;
}

.no-videos-heading-dark {
  font-size: 20px;
  color: #ebebeb;
}

.no-videos-description-light {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  color: #383838;
}

.no-videos-description-dark {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  color: #cccccc;
}

.no-videos-button {
  color: #f1f1f1;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

.loader-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-failure-view-container {
  width: 100%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failure-view-image {
  width: 370px;
}

.home-not-found-heading {
  font-size: 26px;
}

.home-not-found-para {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  color: #616e7c;
  max-width: 460px;
  text-align: center;
}

.home-failure-button {
  color: #f1f1f1;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
